

#ve51 .GraphDataStyle1 {
  fill-color: #2C8AD6;
}
#ve51 .GraphDataStyle2 {
  marker-color: #2C8AD6;
  text-color: #2C8AD6;
  fill-color: #2C8AD6;
  line-color: #2C8AD6;
}
#ve93 .paragraph1 {
  text-align: center;
}
#ve48 .TipText {
  text-color: #FFFFFF;
}
#ve93 .paragraph2 {
  text-align: center;
}
#ve19 .span1 {
  color: #FFFFFF;
  font-size: 28pt;
}
#ve100 .span2 {
  font-weight: bold;
}
#ve100 .span1 {
  color: #FFFFFF;
  font-size: 12pt;
}
#ve100 .span4 {
  font-weight: bold;
}
#ve100 .span3 {
  color: #33A3FF;
  font-size: 12pt;
}
#ve51 .TipText {
  text-color: #FFFFFF;
}
#ve25 .Container {
  background-color: #000000;
  transparency: 0.46;
}
#ve100 .paragraph2 {
  text-align: center;
}
#ve100 .paragraph1 {
  text-align: center;
}
#ve93 .span1 {
  font-size: 12pt;
}
#ve93 .span2 {
  color: #84414B;
  font-size: 12pt;
}
#ve51 .GraphDataStyleDefault {
  fill-color: #2C8AD6;
}

			